@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex min-h-screen">
  <div class="flex-1">
    <img src="/images/auth-bg.png" alt="background" class="w-full h-full object-cover object-center">
  </div>
  <div class="flex-1 flex flex-col p-6 bg-[#0A0A0A]">
    @RenderBody()
  </div>
</div>