@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fixed bottom-0 right-0 w-[calc(100vw-200px)] !backdrop-blur !supports-[backdrop-filter]:bg-background/40 h-[64px] z-50">
  <div class="absolute h-[4px] top-[-4px] w-full bg-blue-400"></div>
  <div class="h-full px-[12px] py-[8px] flex justify-between items-center">
    <div class="h-full flex gap-[16px] w-[360px]">
      <img class="h-full rounded-lg" src="/images/haytraochoanh.webp" />
      <div>
        <p class="text-white font-inter font-semibold">Hãy Trao Cho Anh</p>
        <p class="text-white font-inter text-xs">Sơn Tùng M-TP</p>
      </div>
    </div>
    <div class="mx-auto flex gap-[12px] items-center">
        <i class="fa-solid fa-backward-step text-white text-xl"></i>
        <i class="fa-solid fa-play text-black text-xl p-[8px] rounded-full bg-white"></i>
        <i class="fa-solid fa-forward-step text-white text-xl"></i>
    </div>
    <div class="w-[360px] flex gap-[12px] items-center justify-end">
      <i class="fa-solid fa-heart text-white text-xl"></i>
      <i class="fa-solid fa-volume-high text-white text-xl"></i>
    </div>
  </div>
</div>