@model SignUpModel
@{
  ViewData["Title"] = "Sign In";
  Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="flex justify-end w-full">
  <a href="@Url.Action("SignIn", "Account")"
    class="px-4 py-2 text-md rounded-full bg-[white] hover:bg-slate-100 border border-[#E6E8E9]">Sign in</a>
</div>
<div class="px-8 grow flex items-start flex-col justify-center gap-[32px]">
  <h2 class="text-red-300 text-2xl font-semibold">Sign Up</h2>
  <div class="w-full">
    <form asp-controller="Account" asp-action="SignUp" method="post" class="flex flex-col gap-[20px]">
      <fieldset class="border bg-[inherit] rounded-3xl border-red-300">
        <legend class="ml-4 text-xs px-2 text-red-300">Username</legend>
        <input asp-for="Username" class="w-full text-sm h-full bg-[inherit] text-red-300 !outline-0 pl-6 py-2"
          type="text" />
      </fieldset>
      @* <span asp-validation-for="Username" class="text-white"></span> *@
      <fieldset class="border bg-[inherit] rounded-3xl border-red-300">
        <legend class="ml-4 text-xs px-2 text-red-300">Password</legend>
        <input asp-for="Password" class="w-full text-sm h-full bg-[inherit] text-red-300 !outline-0 pl-6 py-2"
          type="text" />
      </fieldset>
      @* <span asp-validation-for="Password" class="text-white"></span> *@
      <fieldset class="border bg-[inherit] rounded-3xl border-red-300">
        <legend class="ml-4 text-xs px-2 text-red-300">Confirm Password</legend>
        <input asp-for="ConfirmPassword" class="w-full text-sm h-full bg-[inherit] text-red-300 !outline-0 pl-6 py-2"
          type="text" />
      </fieldset>
      <div>
        @Html.ValidationSummary(false, "", new { @class = "text-red-500" })
      </div>
      <button type="submit" class="w-full text-white bg-red-300 py-2 rounded-full font-semibold text-lg">Sign
        In</button>
    </form>
  </div>
</div>